html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  transition: .5s;
  top: 0;
  touch-action: manipulation;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.container-fluid {
  height: 100%;
  z-index: -1;
  border-style: none;
  transition: .5s;
  padding: 0.0rem 0.0rem 0.0rem 0.0rem ;
  margin: 0.0rem ;
  overflow: hidden;
}

#mainTitle {
  width: 100%;
  height: 3vw;
  font-size: 2.6vw;
  color: white;
  text-transform: uppercase;
  padding: 0 ;
  margin: 0;
}

.zeroMargin {
  margin: 0
}

#subTitle1,#subTitle2,#ageLabel {
  height: 3.0vw;
  font-size: 1.9vw;
  color: white;
  padding: 0.2vw 0 0 0;
  margin: 5px 0 0 0 ;
}


#worldRow {
  /* height: calc(100% - 220px); */
  height: calc(100% - 150px - 6.5vw);
  width: 100%;
  background-color: black;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#world1 {
  height: 100%;
  width: 50%;
  background-color: black;
  padding: 0;
  margin: 0;
}

#world2 {
  height: 100%;
  width: 50%;
  background-color: black;
  padding: 0;
  margin: 0;
}

#timeSlider1 {
  height: 20px;
  display: none;
}

#timeSlider2 {
  height: 20px;
  display: none;
}

#world1Col{
  width: 50%;
  padding: 0;
  margin: 0;
}

#world2Col{
  width: 50%;
  padding: 0;
  margin: 0;
}

#stripes1{
  width: calc(50% - 5%);
  margin: 0 1% 0 3%;
  padding: 0;
}

#stripes2{
  width: calc(50% - 6%);
  margin: 0 1% 0 5%;
  padding: 0;
}

#labelCOP26_1{
  text-anchor: middle
}

.warmingStripes{
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  bottom:0;
}

.stripeLabel{
  position: absolute;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
  font-size: 1.8vw;
  z-index: -10;
}

.stripeLabelMilestones{
  position: absolute;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
  font-size: 18px;
  z-index: -10;
}

.stripeLabelSmall{
  position: absolute;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
  font-size: 12px;
  z-index: -10;
}


.btnCtrls {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: gray; /* White text */
  padding: 0px 0px 0px 0px; /* Some padding */
  margin: 0px 0.2vw 0px 0.2vw; 
  font-size: 3vw;
  cursor: pointer; /* Mouse pointer on hover */
}

/* Style buttons */
.btnTime {
  display:inline-block;
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: gray; /* White text */
  padding: 0px 0.3vw 0px 0px; /* Some padding */
  margin: 0px 0.2vw 0px 0.2vw; 
  font-size: 3vw;
  cursor: pointer; /* Mouse pointer on hover */
}

.timeRowCMIP6{
  position: absolute;
  z-index:1;
  top: 0px;
  right: 0px
}


.btnTime:hover {
  color: white;
}

/* remove focus around buttons on click */
.btnTime:focus {
  outline: none;
  box-shadow: none;
}


.data-label {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: gray

}

@media screen and (min-width: 1200px) {
  .btnCtrls {
     font-size: 36px;
  }

  .btnTime {
    font-size: 36px;
 }

  .stripeLabel{
    font-size: 24px;

  }
}

.btnCtrls:hover {
  color: white;
}

.fa-sync-alt {background-color: white;}


/* 
Sidebar and header
https://bbbootstrap.com/snippets/bootstrap-5-sidebar-menu-toggle-button-34132202
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3.0rem;
  --first-color: rgba(51, 58, 69);
  --first-color-light: rgba(134, 145, 160);
  --white-color: #F7F6FB;
  --body-font: 'Helvetica', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

@media screen and (max-width: 668px) {

  :root {
    --nav-width:0px;
  }

}

@media screen and (min-width: 669px) {

  :root {
    --nav-width:64px;
  }

}

*,
::before,
::after {
    box-sizing: border-box
}

/* body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
} */

a {
    text-decoration: none
}

.header {
  width: 0px;
  height: var(--header-height);
  position: absolute;
  /* top: 0; */
  /* left: var(--nav-width); */
  display: flex;
  /* padding: 0.0rem 0.5rem 0.5rem 0.5rem; */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: var(--z-fixed);
  transition: .5s;
  padding-top: 0.2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--nav-width);
  background-color: var(--first-color);
  padding: .5rem .5rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
  overflow: hidden;
  overflow-y: auto
}

.navbar-header {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--first-color);
  padding: 1.2rem 1.0rem .2rem 0.6rem;
}

.navbar-header-pd {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--first-color-light);
  padding: 1.2rem 1.0rem .2rem 0.6rem;

}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .2rem 0rem 0rem 0.0rem;
}

.sidebar li .submenu{ 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  padding-left: 1rem; 
  padding-right: 1rem;
  }

.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}
.nav_logo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.0rem;
    color: var(--white-color)
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0.0rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color);
    background-color: var(--first-color-light)

}

.nav_icon {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.0rem;
    text-align: right;
}

.nav_name {
  font-size: 1.2rem;
}

.show {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1.0rem)
}

/* .timeRow-pd {
  padding-left: calc(var(--nav-width) + 1rem)
} */

/* .header-pd {
    left: calc(var(--nav-width) + var(--nav-width));
} */

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 52px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.timeRow{
  position: absolute;
  /* z-index:1;
  top: 6vw; */
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  width: 20%;
  background-color: rgba(0,0,0,1.0);
  transition: 0.5s
}

/* @media screen and (min-width: 768px) { */

  .timerow{
    position: absolute;
    /* z-index:1;
    top: 6vw; */
    display: block;
    margin-left: calc(41% - var(--nav-width)/2);
    margin-right: 41%;
    width: 18%;
    background-color: rgba(0,0,0,1.0);
    padding: 0;

  }

  .container-fluid {
    padding-left: calc(var(--nav-width) + 0.0rem)
}
    .container-fluid-pd {
      padding-left: calc(220px + 0.0rem)
  }

  .header {
    padding-top: 0.2rem;
    left: calc(var(--nav-width) + 0.5rem)
}
  .header-pd {
    /* left: calc(var(--nav-width) + var(--nav-width) + 2.2rem);
    padding: 0 0.0rem 0.5rem calc(var(--nav-width)) */
    padding-top: 0.2rem;
    left: calc(220px + 0.5rem)
}

    .sidebar {
        left: 0;
        padding: 1.0rem 0rem 0 0
    }

    .show {
      width: 220px;
  }


    .timeRow {
      margin-left: calc(40% - var(--nav-width)/2);
    }

    .timeRow-pd {
      margin-left: calc(33.3% - var(--nav-width)/2);

  } 

/* } */


/* 
Loading screen animation
https://jsfiddle.net/sojzu8a5/1/ 
*/

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





/**************************************************************************************************
 * Styling Reset
 **************************************************************************************************/

/**************************************************************************************************
* About Page
**************************************************************************************************/

#about {
  font-size: 4.5rem;
}

#about h1 {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 2rem;
}

#about div {
  clear: both;
}

#about .blurb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#about .blurb img {
  padding-top: 2rem;
}

#about img {
  display: block;
  margin: auto;
}

#about:first-child {
  padding-top: 3rem;
}

#cover {
  border: 1px solid #eeeeee;
}

#about .left {
  width: 50%;
  float: left;
  text-align: right;
}

#about .right {
  width: 50%;
  float: right;
}

#about .center {
  text-align: center;
}

#about .pad {
  visibility: hidden;
}

#closing {
  padding-bottom: 2.5rem;
}
